<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Write new chat....</h1>
    <form action="/chats" method="POST">
        <input type="text" placeholder="who are you...?" name="from">
        <br><br>
        <textarea name="msg" id="">write your message here...</textarea>
        <br><br>
        <input type="text" placeholder="add receiver" name="to">
        <br><br>     
        <button>submit</button>
    </form>
</body>
</html>